<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Facts</key>
	<array>
		<string>#1 They once made a %1$@ toilet paper, but it wouldn&apos;t take shit from anybody.</string>
		<string>#2 %1$@ can touch MC Hammer.</string>
		<string>#3 It takes 14 puppeteers to make %1$@ smile, but only 2 to make him destroy an orphanage.</string>
		<string>#4 James Cameron wanted %1$@ to play the Terminator. However, upon reflection, he realised that would have turned his movie into a documentary, so he went with Arnold Schwarzenegger.</string>
		<string>#5 There are no weapons of mass destruction in Iraq, %1$@ lives in Oklahoma.</string>
		<string>#6 %1$@ and Mr. T walked into a bar. The bar was instantly destroyed, as that level of awesome cannot be contained in one building.</string>
		<string>#7 Wilt Chamberlain claims to have slept with more than 20,000 women in his lifetime. %1$@ calls this &quot;a slow Tuesday.&quot;</string>
		<string>#8 When %1$@ is in a crowded area, he doesn&apos;t walk around people. He walks through them.</string>
		<string>#9 You know how they say if you die in your dream then you will die in real life? In actuality, if you dream of death then %1$@ will find you and kill you.</string>
		<string>#10 The show Survivor had the original premise of putting people on an island with %1$@. There were no survivors, and nobody is brave enough to go to the island to retrieve the footage.</string>
		<string>#11 %1$@ grinds his coffee with his teeth and boils the water with his own rage.</string>
		<string>#12 In the beginning there was nothing...then %1$@ Roundhouse kicked that nothing in the face and said &quot;Get a job&quot;. That is the story of the universe.</string>
		<string>#13 On his birthday, %1$@ randomly selects one lucky child to be thrown into the sun.</string>
		<string>#14 %1$@ once sued the Houghton-Mifflin textbook company when it became apparent that their account of the war of 1812 was plagiarized from his autobiography.</string>
		<string>#15 A picture is worth a thousand words. A %1$@ is worth 1 billion words.</string>
		<string>#16 If tapped, a %1$@ roundhouse kick could power the country of Australia for 44 minutes.</string>
		<string>#17 %1$@ can divide by zero</string>
		<string>#18 Life is not, in fact, like a box of chocolates. It is more like a box of %1$@, roundhouse kicking you in the face. And if you receive a box of %1$@, you ALWAYS know what you are going to get.</string>
		<string>#19 When %1$@ has sex with a man, it won&apos;t be because he is gay. It will be because he has run out of women.</string>
		<string>#20 Scientists have estimated that the energy given off during the Big Bang is roughly equal to 1NCRhK (%1$@ Roundhouse Kick)</string>
		<string>#21 When %1$@ falls in water, %1$@ doesn&apos;t get wet. Water gets %1$@.</string>
		<string>#22 Bill Gates lives in constant fear that %1$@&apos; PC will crash.</string>
		<string>#23 Don&apos;t even ask. %1$@ is always serious.</string>
		<string>#24 Superman owns a pair of %1$@ pyjamas.</string>
		<string>#25 When %1$@ went to donate sperm, half the nurses drowned; the rest were pregnant.</string>
		<string>#26 The most honourable way of dying is taking a bullet for %1$@. This amuses %1$@ because he is bulletproof.</string>
		<string>#27 %1$@ is the only person on the planet that can kick you in the back of the face.</string>
		<string>#28 The phrase, &quot;You are what you eat&quot; cannot be true based on the amount of pussy %1$@ eats.</string>
		<string>#29 %1$@ has to maintain a concealed weapon license in all 50 states in order to legally wear pants.</string>
		<string>#30 Facebook was created for counting how many people left to be roundhouse kicked.</string>
		<string>#31 When an episode of Walker Texas Ranger was aired in France, the French surrendered to %1$@ just to be on the safe side.</string>
		<string>#32 When you&apos;re %1$@, anything + anything is equal to 1.... 1 roundhouse kick to the face..</string>
		<string>#33 %1$@ does not sleep. He waits.</string>
		<string>#34 %1$@ can touch MC Hammer</string>
		<string>#35 %1$@ was once the F.B.I&apos;s chief negotiator. His job involved calling up criminals and saying, &quot;This is %1$@.&quot;</string>
		<string>#36 %1$@ can satisfy a woman by pointing at her with his finger and saying &quot;Booya&quot;</string>
		<string>#37 The reason newborn babies cry is because they know they have just entered a world with %1$@.</string>
		<string>#38 %1$@ did that to Michael Jackson&apos;s face.</string>
		<string>#39 The saddest moment for a child is not when he learns Santa Claus isn&apos;t real, it&apos;s when he learns %1$@ is.</string>
		<string>#40 Along with his black belt, %1$@ often chooses to wear brown shoes. No one has DARED call him on it. Ever.</string>
		<string>#41 The grass is always greener on the other side, unless %1$@ has been there. In that case the grass is most likely soaked in blood and tears.</string>
		<string>#42 After much debate, President Truman decided to drop the atomic bomb on Hiroshima rather than the alternative of sending %1$@. It was more &quot;humane&quot;.</string>
		<string>#43 %1$@ once walked down the street with a massive erection. There we no survivors.</string>
		<string>#44 Scientists in Washington have recently conceded that, if there were a nuclear war, all that would remain are cockroaches and %1$@.</string>
		<string>#45 %1$@ isn’t lactose intolerant. He just doesn’t put up with lactose’s shit. </string>
		<string>#46 In the original pilot for Star Trek Next Generation, %1$@ can be seen powering the USS Enterprise warp drive with his roundhouse kicks.</string>
		<string>#47 Contrary to popular belief, %1$@, not the box jellyfish of northern Australia, is the most venomous creature on earth. Within 3 minutes of being bitten, a human being experiences the following symptoms: fever, blurred vision, beard rash, tightness of the jeans, and the feeling of being repeatedly kicked through a car windshield. </string>
		<string>#48 %1$@ went looking for a bar but couldn’t find one. He walked to a vacant lot and sat there. Sure enough within an hour an a half someone constructed a bar around him. He then ordered a shot, drank it, and then burned the place to the ground. %1$@ yelled over the roar of the flames, “always leave things the way you found em!” </string>
		<string>#49 If %1$@ wants your opinion, he&apos;ll beat it into you.</string>
		<string>#50 Some people wear Superman pyjamas. Superman wears %1$@ pyjamas.</string>
		<string>#51 %1$@ lost his virginity before his dad did.</string>
		<string>#52 %1$@ doesn&apos;t use pickup lines, he simply says, &quot;Now.&quot;</string>
		<string>#53 %1$@ invented black. In fact, he invented the entire spectrum of visible light. Except pink. Tom Cruise invented pink.</string>
		<string>#54 %1$@ can piss into gale force winds.</string>
		<string>#55 When you open a can of whoop-ass, %1$@ jumps out.</string>
		<string>#56 %1$@ doesn’t need to swallow when eating food.</string>
		<string>#57 %1$@ has never blinked in his entire life. Never. </string>
		<string>#58 %1$@’ roundhouse kick is so powerful, it can be seen from outer space by the naked eye. </string>
		<string>#59 %1$@ drinks napalm to quell his heartburn.</string>
		<string>#60 If paper beats rock, rock beats scissors, and scissors beats paper, what beats all 3 at the same time? Answer: %1$@. </string>
		<string>#61 %1$@ used live ammunition during all shoot-outs. When a director once said he couldn’t, he replied, “Of course I can, I’m %1$@,” and roundhouse kicked him in the face. </string>
		<string>#62 %1$@ doesn&apos;t worry about changing his clock twice a year for daylight savings time. The sun rises and sets when he tells it to.</string>
		<string>#63 %1$@ does not procreate, he breeds</string>
		<string>#64 If %1$@ is late, time better slow the fuck down</string>
		<string>#65 %1$@ can judge a book by its cover.</string>
		<string>#66 %1$@ is the only man to ever defeat a brick wall in a game of tennis.</string>
		<string>#67 %1$@ doesn&apos;t have AIDS but he gives it to people anyway.</string>
		<string>#68 %1$@ is Luke Skywalker’s real father.</string>
		<string>#69 %1$@ only masturbates to pictures of %1$@. </string>
		<string>#70 There is no such thing as tornados. %1$@ just hates trailer parks.</string>
		<string>#71 %1$@ frequently donates blood to the Red Cross. Just never his own.</string>
		<string>#72 Once a grizzly bear threatened to eat %1$@. He showed the bear his fist and the bear proceeded to eat himself, because it would be the less painful way to die.</string>
		<string>#73 %1$@ once broke the land speed record on a bicycle that was missing its chain and the back tire.</string>
		<string>#74 When %1$@ had surgery, the anaesthesia was applied to the doctors.</string>
		<string>#75 %1$@ once ate an entire ream of rice paper and shat out origami swans and Mister Miyagi from Karate Kid.</string>
		<string>#76 In fine print on the last page of the Guinness Book of World Records it notes that all world records are held by %1$@, and those listed in the book are simply the closest anyone else has ever gotten. </string>
		<string>#77 When the Boogeyman goes to sleep every night he checks his closet for %1$@.</string>
		<string>#78 %1$@ does not hunt because the word hunting infers the probability of failure. %1$@ goes killing.</string>
		<string>#79 Teenage Mutant Ninja Turtles is based on a true story: %1$@ once swallowed a turtle whole, and when he crapped it out, the turtle was six feet tall and had learned karate.</string>
		<string>#80 %1$@ doesn&apos;t step on toes. %1$@ steps on necks.</string>
		<string>#81 %1$@ can lead a horse to water AND make it drink.</string>
		<string>#82 There is no chin behind %1$@’ beard. There is only another fist.</string>
		<string>#83 Pee Wee Herman got arrested for masturbating in public. The same day, %1$@ got an award for masturbating in public.</string>
		<string>#84 If you have five dollars and %1$@ has five dollars, %1$@ has more money than you.</string>
		<string>#85 %1$@&apos; iPod came with a real charger instead of just a USB cord</string>
		<string>#86 %1$@ kicked Neo out of Zion , now Neo is &quot;The Two&quot;</string>
		<string>#87 %1$@ is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs. </string>
		<string>#88 When %1$@ sends in his taxes, he sends blank forms and includes only a picture of himself, crouched and ready to attack. %1$@ has not had to pay taxes, ever.</string>
		<string>#89 %1$@ is the only person who can simultaneously hold and fire FIVE Uzis: One in each hand, one in each foot ‚Äì and the 5th one he roundhouse-kicks into the air, so that it sprays bullets.</string>
		<string>#90 The Drummer for Def Leppard&apos;s only got one arm. %1$@ needed a back scratcher.</string>
		<string>#91 As President Roosevelt said: “We have nothing to fear but fear itself. And %1$@.”</string>
		<string>#92 %1$@ uses a night light. Not because %1$@ is afraid of the dark, but the dark is afraid of %1$@.</string>
		<string>#93 %1$@ once ate a whole cake before his friends could tell him there was a stripper in it.</string>
		<string>#94 In an average living room there are 1,242 objects %1$@ could use to kill you, including the room itself.</string>
		<string>#95 To be or not to be? That is the question. The answer? %1$@.</string>
		<string>#96 %1$@’ house has no doors, only walls that he walks through.</string>
		<string>#97 %1$@ sleeps with a pillow under his gun.</string>
		<string>#98 %1$@ has a deep and abiding respect for human life... unless it gets in his way.</string>
		<string>#99 A blind man once stepped on %1$@&apos; shoe. he replied, &quot;Don&apos;t you know who I am? I&apos;m %1$@!&quot; The mere mention of his name cured this man blindness. Sadly the first, last, and only thing this man ever saw, was a fatal roundhouse delivered by %1$@.</string>
		<string>#100 %1$@ has already been to Mars; that&apos;s why there are no signs of life there.</string>
		<string>#101 It takes %1$@ 20 minutes to watch 60 Minutes.</string>
		<string>#102 %1$@ roundhouse kicks people in the face first and asks questions later.</string>
		<string>#103 For some, the left testicle is larger than the right one. For %1$@, each testicle is larger than the other one.</string>
		<string>#104 %1$@ once ordered a steak in a restaurant. The steak did what it was told.</string>
		<string>#105 The grass is always greener on the other side, unless %1$@ has been there. In that case the grass is most likely soaked in blood and tears.</string>
		<string>#106 %1$@ is the only person in the world that can actually email a roundhouse kick.</string>
		<string>#107 %1$@ once round-house kicked a salesman. Over the phone.</string>
		<string>#108 %1$@ shot the sheriff, but he round house kicked the deputy.</string>
		<string>#109 %1$@ once lost the remote, but maintained control of the TV by yelling at it in between bites of his “Filet of Child” sandwich.</string>
		<string>#110 Little known medical fact: %1$@ invented the Caesarean section when he roundhouse-kicked his way out of his mother&apos;s womb.</string>
		<string>#111 There are now five cup sizes at Starbucks: Short, Tall, Grande, Venti, and %1$@.</string>
		<string>#112 That&apos;s not %1$@ doing push-ups - that&apos;s %1$@ moving the Earth away from the path of a deadly asteroid.</string>
		<string>#113 %1$@ doesn&apos;t play god. Playing is for children.</string>
		<string>#114 %1$@ cannot love, he can only not kill.</string>
		<string>#115 When Bruce Banner gets mad, he turns into the Hulk. When the Hulk gets mad, he turns into %1$@.</string>
		<string>#116 %1$@ once rode a nine foot grizzly bear through an automatic car wash, instead of taking a shower.</string>
		<string>#117 %1$@ does not own a stove, oven, or microwave , because revenge is a dish best served cold.</string>
		<string>#118 %1$@ was once in a knife fight, and the knife lost.</string>
		<string>#119 If you Google search “%1$@ getting his ass kicked” you will generate zero results. It just doesn&apos;t happen.</string>
		<string>#120 Behind every successful man, there is a woman. Behind every dead man, there is %1$@.</string>
		<string>#121 %1$@ doesn&apos;t kill two birds with one stone. %1$@ kills all birds, with two stones.</string>
		<string>#122 Someone once tried to tell %1$@ that roundhouse kicks aren&apos;t the best way to kick someone. This has been recorded by historians as the worst mistake anyone has ever made.</string>
		<string>#123 The chemical formula for the highly toxic cyanide ion is CN-. These are also %1$@&apos; initials. This is not a coincidence.</string>
		<string>#124 %1$@ can kick through all 6 degrees of separation, hitting anyone, anywhere, in the face, at any time.</string>
		<string>#125 Not everyone that %1$@ is mad at gets killed. Some get away. They are called astronauts.</string>
		<string>#126 A %1$@-delivered Roundhouse Kick is the preferred method of execution in 16 states.</string>
		<string>#127 The quickest way to a man&apos;s heart is with %1$@&apos; fist.</string>
		<string>#128 %1$@ is expected to win gold in every swimming competition at the 2008 Beijing Olympics, even though %1$@ does not swim. This is because when %1$@ enters the water, the water gets out of his way and %1$@ simply walks across the pool floor.</string>
		<string>#129 %1$@ ordered a Big Mac at Burger King, and got one.</string>
		<string>#130 Rules of fighting: 1) Don&apos;t bring a knife to a gun fight. 2) Don&apos;t bring a gun to a %1$@ fight.</string>
		<string>#131 If at first you don&apos;t succeed, you&apos;re not %1$@.</string>
		<string>#132 %1$@ can win a game of Connect Four in only three moves.</string>
		<string>#133 Mr. T pities the fool. %1$@ rips the fool&apos;s head off.</string>
		<string>#134 There is no theory of evolution. Just a list of creatures %1$@ has allowed to live.</string>
		<string>#135 %1$@ knows the last digit of pi.</string>
		<string>#136 The last thing you hear before %1$@ gives you a roundhouse kick? No one knows because dead men tell no tales.</string>
		<string>#137 %1$@ doesn&apos;t shave, he kicks himself in the face. The only thing that can cut %1$@ is %1$@.</string>
		<string>#138 When in a bar, you can order a drink called a “%1$@”. It is also known as a “Bloody Mary”, if your name happens to be Mary.</string>
		<string>#139 Contrary to popular belief, there is indeed enough %1$@ to go around.</string>
		<string>#140 %1$@ once shot down a German fighter plane with his finger, by yelling, “Bang!”</string>
		<string>#141 There’s an order to the universe: space, time, %1$@‚Ä¶ Just kidding, %1$@ is first.</string>
		<string>#142 %1$@ can taste lies.</string>
		<string>#143 %1$@ uses pepper spray to spice up his steaks.</string>
		<string>#144 If %1$@ were a calendar, every month would be named Guytober, and every day he&apos;d kick your ass.</string>
		<string>#145 %1$@ can sneeze with his eyes open.</string>
		<string>#146 %1$@&apos;s show is called Walker: Texas Ranger, because %1$@ doesn&apos;t run.</string>
		<string>#147 If you ask %1$@ what time it is, he always says, “Two seconds &apos;til.” After you ask, “Two seconds &apos;til what?” he roundhouse kicks you in the face.</string>
		<string>#148 %1$@ crossed the road. No one has ever dared question his motives.</string>
		<string>#149 %1$@&apos; first job was as a paperboy. There were no survivors.</string>
		<string>#150 When %1$@ wants an egg, he cracks open a chicken.</string>
		<string>#151 %1$@ is currently suing NBC, claiming Law and Order are trademarked names for his left and right legs.</string>
		<string>#152 Archeologists unearthed an old english dictionary dating back to the year 1236. It defined “victim” as “one who has encountered %1$@”</string>
		<string>#153 %1$@ does not get frostbite. %1$@ bites frost.</string>
		<string>#154 In honor of %1$@, all McDonald&apos;s in Texas have an even larger size than the super-size. When ordering, just ask to be Guy-sized.</string>
		<string>#155 Aliens DO indeed exist. They just know better than to visit a planet that %1$@ is on.</string>
		<string>#156 %1$@ can skeletize a cow in two minutes.</string>
		<string>#157 %1$@ describes human beings as “a sociable holder for blood and guts”.</string>
		<string>#158 %1$@ likes his coffee half and half: half coffee grounds, half wood-grain alcohol.</string>
		<string>#159 Ninjas want to grow up to be just like %1$@. But usually they grow up just to be killed by %1$@.</string>
		<string>#160 %1$@ has to use a stunt double when he does crying scenes.</string>
		<string>#161 %1$@ does not sleep. He waits.</string>
		<string>#162 %1$@ CAN believe it&apos;s not butter.</string>
		<string>#163 Everybody loves Raymond. Except %1$@.</string>
		<string>#164 %1$@ played Russian Roulette with a fully loaded gun and won.</string>
		<string>#165 During the Vietnam War, %1$@ allowed himself to be captured. For torture, they made him eat his own entrails. He asked for seconds.</string>
		<string>#166 With the rising cost of gasoline, %1$@ is beginning to worry about his drinking habit.</string>
		<string>#167 Time waits for no man. Unless that man is %1$@.</string>
		<string>#168 There is no theory of evolution. Just a list of animals %1$@ allows to live.</string>
		<string>#169 As an infant, %1$@&apos; parents gave him a toy hammer. He gave the world Stonehenge.</string>
		<string>#170 In an act of great philanthropy, %1$@ made a generous donation to the American Cancer Society. He donated 6,000 dead bodies for scientific research.</string>
		<string>#171 %1$@ can win a game of Trivial Pursuit with one roll of the dice, and without answering a single question... just a nod of the head, and a stroke of the beard.</string>
		<string>#172 %1$@ is the only man who has, literally, beaten the odds. With his fists.</string>
		<string>#173 There is endless debate about the existence of the human soul. Well it does exist, and %1$@ finds it delicious.</string>
		<string>#174 %1$@ is a vegetarian. Meaning, he does not eat animals until first he puts them into vegetative state with his fists.</string>
		<string>#175 We live in an expanding universe. All of it is trying to get away from %1$@.</string>
		<string>#176 %1$@ once shat blood - the blood of 11,940 natives he had killed and eaten.</string>
		<string>#177 %1$@&apos; calendar goes straight from March 31st to April 2nd; no one fools %1$@.</string>
		<string>#178 So next time %1$@ is kicking your ass, don&apos;t be offended or hurt, he may be just trying to tell you he likes your hat.</string>
		<string>#179 %1$@ uses 8&apos;x10&apos; sheets of plywood as toilet paper.</string>
		<string>#180 %1$@ knows everything there is to know - Except for the definition of mercy.</string>
		<string>#181 %1$@ once worked as a weatherman for the San Diego evening news. Every night he would make the same forecast: Partly cloudy with a 75%% chance of Pain.</string>
		<string>#182 Google won&apos;t search for %1$@ because it knows you don&apos;t find %1$@, he finds you.</string>
		<string>#183 When Arnold says the line “I&apos;ll be back” in the first Terminator movie it is implied that he is going to ask %1$@ for help.</string>
		<string>#184 Nothing can escape the gravity of a black hole, except for %1$@. %1$@ eats black holes. They taste like chicken.</string>
		<string>#185 %1$@ did in fact, build Rome in a day.</string>
		<string>#186 It takes 14 puppeteers to make %1$@ smile, but only 2 to make him destroy an orphanage.</string>
		<string>#187 A man once asked %1$@ if his real name is “Charles”. %1$@ did not respond, he simply stared at him until he exploded.</string>
		<string>#188 In a fight between Batman and Darth Vader, the winner would be %1$@.</string>
		<string>#189 %1$@ never goes to the dentist because his teeth are unbreakable. His enemies never go to the dentist because they have no teeth.</string>
		<string>#190 %1$@ originally wrote the first dictionary. The definition for each word is as follows - A swift roundhouse kick to the face.</string>
		<string>#191 Scotty in Star Trek often says “Ye cannae change the laws of physics.” This is untrue. %1$@ can change the laws of physics. With his fists.</string>
		<string>#192 There are only two things that can cut diamonds: other diamonds, and %1$@.</string>
		<string>#193 %1$@&apos; tears cure cancer. Too bad he has never cried.</string>
		<string>#194 When %1$@ was born, the only person who cried was the doctor. Never slap %1$@.</string>
		<string>#195 The square root of %1$@ is pain. Do not try to square %1$@, the result is death.</string>
		<string>#196 %1$@ likes his ice like he likes his skulls: crushed.</string>
		<string>#197 “Let the Bodies Hit the Floor” was originally written as %1$@&apos; theme song.</string>
		<string>#198 There is in fact an “I” in Norris, but there is no “team”‚Ä¶ not even close.</string>
		<string>#199 Divide %1$@ by zero and you will in fact get one‚Ä¶ one bad-ass that is.</string>
		<string>#200 %1$@ invented a language that incorporates karate and roundhouse kicks.</string>
		<string>#201 When you say “no one&apos;s perfect”, %1$@ takes this as a personal insult.</string>
		<string>#202 In the Words of Julius Caesar, “Veni, Vidi, Vici, %1$@”. Translation: I came, I saw, and I was roundhouse-kicked in the face by %1$@.</string>
		<string>#203 Do you know why Baskin Robbins only has 31 flavours? Because %1$@ doesn&apos;t like Fudge Ripple.</string>
		<string>#204 The truth will set you free. Unless %1$@ has you, in which case, forget it buddy!</string>
		<string>#205 Whoever said “only the good die young” was probably in %1$@&apos;s kindergarten class.</string>
		<string>#206 Jack Bauer tried to use his detailed knowledge of torture techniques, but to no avail: %1$@ thrives on pain. %1$@ then ripped off Jack Bauer&apos;s arm and beat him to death with it. Game, set, match.</string>
		<string>#207 %1$@ wipes his ass with chain mail and sandpaper.</string>
		<string>#208 Most boots are made for walkin&apos;. %1$@&apos; boots ain&apos;t that merciful.</string>
		<string>#209 %1$@ counted to infinity - twice.</string>
		<string>#210 %1$@ once won a game of Connect Four in 3 moves.</string>
		<string>#211 When %1$@ says “More cowbell”, he MEANS it.</string>
		<string>#212 %1$@ and Mr. T walked into a bar. The bar was instantly destroyed, as that level of awesome cannot be contained in one building.</string>
		<string>#213 If you spell %1$@ in Scrabble, you win. Forever.</string>
		<string>#214 %1$@ will never have a heart attack. His heart isn&apos;t nearly foolish enough to attack him.</string>
		<string>#215 %1$@ is not hung like a horse... horses are hung like %1$@.</string>
		<string>#216 Superman once watched an episode of Walker, Texas Ranger. He then cried himself to sleep.</string>
		<string>#217 What was going through the minds of all of %1$@&apos; victims before they died? His shoe.</string>
		<string>#218 James Cameron wanted %1$@ to play the Terminator. However, upon reflection, he realized that would have turned his movie into a documentary, so he went with Arnold Schwarzenegger.</string>
		<string>#219 A man once taunted %1$@ with a bag of Lay&apos;s potato chips, saying “Betcha can&apos;t eat just one!” %1$@ proceeded to eat the chips, the bag, and the man‚ in one deft move.</string>
		<string>#220 According to Einstein&apos;s theory of relativity, %1$@ can actually roundhouse kick you yesterday.</string>
		<string>#221 Tom Clancy has to pay royalties to %1$@ because “The Sum of All Fears” is the name of %1$@&apos; autobiography.</string>
		<string>#222 %1$@ doesn&apos;t own a can opener, he just chews through the can.</string>
		<string>#223 In the first Jurassic Park movie, the Tyrannosaurus Rex wasn&apos;t chasing the jeep. %1$@ was chasing the Tyrannosaurus AND the jeep.</string>
		<string>#224 %1$@ once bet NASA he could survive re-entry without a spacesuit. On July 19th, 1999, a naked %1$@ re-entered the earth&apos;s atmosphere, streaking over 14 states and reaching a temperature of 3000 degrees. An embarrassed NASA publicly claimed it was a meteor, and still owes him a beer.</string>
		<string>#225 %1$@ doesn&apos;t cheat death. He wins fair and square.</string>
		<string>#226 Some kids piss their name in the snow. %1$@ can piss his name into concrete.</string>
		<string>#227 If you rearrange the letters in “%1$@”, they also spell “Crush Rock In”. The words “with his fists” are understood.</string>
		<string>#228 Most people fear the Reaper. %1$@ considers him “a promising Rookie”.</string>
		<string>#229 Those aren&apos;t credits that roll after Walker Texas Ranger. It is actually a list of fatalities that occurred during the making of the episode.</string>
		<string>#230 Every time someone uses the word “intense”, %1$@ always replies “you know what else is intense?” followed by a roundhouse kick to the face.</string>
		<string>#231 The chief export of %1$@ is Pain.</string>
		<string>#232 There are two types of people in the world... people that suck, and %1$@.</string>
		<string>#233 When %1$@ was a baby, he didn&apos;t suck his mother&apos;s breast. His mother served him whiskey, straight out of the bottle.</string>
		<string>#234 When you&apos;re %1$@, anything + anything is equal to 1. One roundhouse kick to the face.</string>
		<string>#235 182,000 Americans die from %1$@-related accidents every year.</string>
		<string>#236 %1$@ once roundhouse kicked someone so hard that his foot broke the speed of light, went back in time, and killed Amelia Earhart while she was flying over the Pacific Ocean.</string>
		<string>#237 %1$@ doesn&apos;t chew gum. %1$@ chews tin foil.</string>
		<string>#238 In the medical community, death is referred to as “%1$@ Disease”.</string>
		<string>#239 Everything King Midas touches turns to gold. Everything %1$@ touches turns up dead.</string>
		<string>#240 For most people, home is where the heart is. For %1$@, home is where he stores his collection of human skulls.</string>
		<string>#241 Leading hand sanitizers claim they can kill 99.9 percent of germs. %1$@ can kill 100 percent of whatever the fuck he wants.</string>
		<string>#242 %1$@ always knows the EXACT location of Carmen SanDiego.</string>
		<string>#243 &quot;Brokeback Mountain&quot; is not just a movie. It&apos;s also what %1$@ calls the pile of dead ninjas in his front yard.</string>
		<string>#244 %1$@&apos; favorite cereal is Kellogg&apos;s Nails &apos;N&apos; Gravel.</string>
		<string>#245 %1$@ got a perfect score on his SAT&apos;s, simply by writing %1$@ for every answer.</string>
		<string>#246 %1$@ doesn&apos;t read books. He stares them down until he gets the information he wants.</string>
		<string>#247 Paper beats rock, rock beats scissors, and scissors beats paper, but %1$@ beats all 3 at the same time.</string>
		<string>#248 %1$@ never wet his bed as a child. The bed wet itself out of fear.</string>
		<string>#249 If you work in an office with %1$@, don&apos;t ask him for his three-hole-punch.</string>
		<string>#250 Police label anyone attacking %1$@ as a Code 45-11.... a suicide.</string>
		<string>#251 He who lives by the sword, dies by the sword. He who lives by %1$@, dies by the roundhouse kick.</string>
		<string>#252 %1$@ CAN in fact &quot;raise the roof&quot;. And he can do it with one hand.</string>
		<string>#253 %1$@ eats steak for every single meal. Most times he forgets to kill the cow.</string>
		<string>#254 %1$@ can win at solitaire with only 18 cards.</string>
		<string>#255 Outer space exists because it&apos;s afraid to be on the same planet with %1$@.</string>
		<string>#256 %1$@ got his drivers license at the age of 16. Seconds.</string>
		<string>#257 %1$@ can delete the Recycling Bin.&quot;</string>
		<string>#258 %1$@ owns the greatest Poker Face of all-time. It helped him win the 1983 World Series of Poker despite him holding just a Joker, a Get out of Jail Free Monopoly card, a 2 of clubs, 7 of spades and a green #4 card from the game Uno.</string>
		<string>#259 %1$@ puts the &quot;laughter&quot; in &quot;manslaughter&quot;.</string>
		<string>#260 %1$@ once visited the Virgin Islands. They are now The Islands.</string>
		<string>#261 The air around %1$@ is always a balmy 78 degrees.</string>
		<string>#262 If you&apos;re driving down the road and you think %1$@ just cut you off, you better thank your lucky stars it wasn&apos;t the other way around.</string>
		<string>#263 If a tree falls in the forest, does anybody hear? Yes. %1$@ hears it. %1$@ can hear everything. %1$@ can hear the shrieking terror in your soul.</string>
		<string>#264 When %1$@ was denied an Egg McMuffin at McDonald&apos;s because it was 10:35, he roundhouse kicked the store so hard it became a Wendy&apos;s.</string>
		<string>#265 Once, while having sex in a tractor-trailer, part of %1$@&apos; sperm escaped and got into the engine. We now know this truck as Optimus Prime.</string>
	</array>
	<key>Facts2</key>
	<array>
		<dict>
			<key>id</key>
			<string></string>
			<key>hidden</key>
			<string></string>
			<key>fact</key>
			<string></string>
		</dict>
		<dict/>
		<dict/>
		<dict/>
	</array>
</dict>
</plist>
